<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Button 2
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Button 3
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Button 4
      </a>
    </div>
  </div>
</div>
